header{
    border-radius: 10px;
}

header div{
    background: rgb(255,119,0);
    background: radial-gradient(circle, rgba(255,119,0,1) 0%, rgba(255,182,119,1) 50%, rgba(255,255,255,1) 100%);

    border-radius: 10px;
}

.enlace{
    margin: 50px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img{
    width: 10rem;
}